{% extends "base.html" %}
{% block title %}Configuration{% endblock %}
{% block content %}

<form  action="" method="post" role="form">
   {{ form.csrf }}
    <div class="row">
        <div class="col-sm" style="max-width:250px">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-modules-tab" data-toggle="pill" href="#v-pills-modules" role="tab" aria-controls="v-pills-modules" aria-selected="true">Modules</a>
              {% if config["ENABLE_MODULE_MQTT"]: %}
              <a class="nav-link" id="v-pills-mqtt-tab" data-toggle="pill" href="#v-pills-mqtt" role="tab" aria-controls="v-pills-mqtt" aria-selected="true">MQTT</a>
              {% endif %}
              {% if config["ENABLE_MODULE_GPIO"]: %}
              <a class="nav-link" id="v-pills-gpio-tab" data-toggle="pill" href="#v-pills-gpio" role="tab" aria-controls="v-pills-gpio" aria-selected="false">GPIO</a>
              {% endif %}
              {% if config["ENABLE_MODULE_ROON"]: %}
              <a class="nav-link" id="v-pills-roon-tab" data-toggle="pill" href="#v-pills-roon" role="tab" aria-controls="v-pills-roon" aria-selected="false">Roon</a>
              {% endif %}
              {% if config["ENABLE_MODULE_POWERSAVE"]: %}
              <a class="nav-link" id="v-pills-powersave-tab" data-toggle="pill" href="#v-pills-powersave" role="tab" aria-controls="v-pills-powersave" aria-selected="false">Powersave</a>
              {% endif %}
              <a class="nav-link" id="v-pills-sound-tab" data-toggle="pill" href="#v-pills-sound" role="tab" aria-controls="v-pills-sound" aria-selected="false">Sound</a>
              <a class="nav-link" id="v-pills-other-tab" data-toggle="pill" href="#v-pills-other" role="tab" aria-controls="v-pills-other" aria-selected="false">Other</a>
              <br><br><br>
              <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Save configuration</button>
            </div>
        </div>
    <div class="col-sm">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-modules" role="tabpanel" aria-labelledby="config-modules">
              <h3>Enabled modules</h3>
              <br>
              <div class="form-group">
                  {% for field in form %}
                  {% if field.id.startswith("ENABLE_MODULE"):
                        fields.append(field.id) %}
                  <label for="{{ field.id }}">{{ field.label }}</label>
                  {{ field(class_="form-control") }}
                  <br>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
          <div class="tab-pane fade show" id="v-pills-mqtt" role="tabpanel" aria-labelledby="config-mqtt">
              <h3>MQTT Configuration</h3>
              <br>
              <div class="form-group">
                  {% for field in form %}
                  {% if field.id.startswith("MQTT"):
                        fields.append(field.id) %}
                  <label for="{{ field.id }}">{{ field.label }}</label>
                  {{ field(class_="form-control") }}
                  <br>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
          <div class="tab-pane fade" id="v-pills-gpio" role="tabpanel" aria-labelledby="v-pills-gpio-tab">
              <h3>GPIO Configuration</h3>
              <br>
              <div class="form-group">
                  {% for field in form %}
                  {% if field.id.startswith("GPIO"):
                        fields.append(field.id) %}
                  <label for="{{ field.id }}">{{ field.label }}</label>
                  {{ field(class_="form-control") }}
                  <br>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
          <div class="tab-pane fade" id="v-pills-roon" role="tabpanel" aria-labelledby="v-pills-roon-tab">
              <h3>Roon player Configuration</h3>
              <br>
              <div class="form-group">
                  {% for field in form %}
                  {% if field.id.startswith("ROON"):
                        fields.append(field.id) %}
                  <label for="{{ field.id }}">{{ field.label }}</label>
                  {{ field(class_="form-control") }}
                  <br>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
          <div class="tab-pane fade" id="v-pills-sound" role="tabpanel" aria-labelledby="v-pills-sound-tab">
              <h3>Sound Configuration</h3>
              <br>
              <div class="form-group">
                  {% for field in form %}
                  {% if "ALSA" in field.id or "VOLUME" in field.id:
                        fields.append(field.id) %}
                  <label for="{{ field.id }}">{{ field.label }}</label>
                  {{ field(class_="form-control") }}
                  <br>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
          <div class="tab-pane fade" id="v-pills-powersave" role="tabpanel" aria-labelledby="v-pills-powersave-tab">
              <h3>Powersave Configuration</h3>
              <br>
              <div class="form-group">
                  {% for field in form %}
                  {% if "POWER" in field.id: %}
                        fields.append(field.id) %}
                  <label for="{{ field.id }}">{{ field.label }}</label>
                  {{ field(class_="form-control") }}
                  <br>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
          <div class="tab-pane fade" id="v-pills-other" role="tabpanel" aria-labelledby="v-pills-other-tab">
              <h3>Other Configuration</h3>
              <br>
              <div class="form-group">
                  {% for field in form %}
                  {% if field.id not in fields: %}
                  {% if field.id not in ["csrf_token", "last_updated"]: %}
                  <label for="{{ field.id }}">{{ field.label }}</label>
                  {% endif %}
                  {{ field(class_="form-control") }}
                  <br>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
        </div>
    </div>
  </div>
    
    
</form>

{% endblock %}