{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block content %}
<!-- Status page -->
  <div class="card-deck" style="max-height: 100%%">
    <div class="card" style="max-width: 50%; max-height: 80%">
      <div class="card-header"><h3 class="card-title">Mediaplayer</h3></div>
      <img class="card-img-top img-responsive" src="/player_image" alt="Card image cap" style="width: 100%; object-fit: cover" id="player_image"/>
      <div class="card-body">
        <h5 class="card-title" id="player_state"></h5>
        <p class="card-text" id="player_artist"></p>
        <p class="card-text" id="player_title"></p>
        <a href="#" class="btn btn-primary" id="btn_play" style="width: 100%;" onClick="command('player', 'toggleplaypause');">Play</a><br><br>
        <a href="#" class="btn btn-secondary" id="btn_next" style="width: 100%;" onClick="command('player', 'next');">Next</a>
        <input type="range" id="volume_slider" name="Volume" min="0" max="100" value="50" step="2" />
      </div>
    </div>
    <div class="card" style="max-width: 50%;">
      <div class="card-header"><h3 class="card-title">Status</h3></div>
      <div class="card-body">
        <h5 class="card-title">Power state: </h5><h5 class="card-title" id="power_state"></h5>
        <p class="card-text"></p>Last updated: <p class="card-text" id="last_updated"></p>
        <br><br>
        <a href="#" class="btn btn-primary" id="btn_play" style="width: 100%;" onClick="command('system', 'reload');">Reload service</a><br><br>
        <a href="#" class="btn btn-primary" id="btn_play" style="width: 100%;" onClick="command('system', 'restart');">Reboot</a><br><br>
        <a href="#" class="btn btn-primary" id="btn_play" style="width: 100%;" onClick="command('system', 'ping');">Ping</a><br><br>
      </div>
      <div class="card-body" id="messages">
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
  setInterval(function(){ // refresh player data if changed
      $.getJSON('/states/player/last_updated', function (last_updated, status) {
        if (status === 'success') {
          //only update if the timestamp changed
          if ($("#last_updated").html() != last_updated) {
              console.log("data changed!")
              $.getJSON('/states/player', function (data, status) {
                  if (status === 'success') {
                    $("#player_state").html(data.playername + ' is ' + data.state);
                    $("#player_artist").html('Artist: ' + data.artist);
                    $("#player_title").html('Title: ' + data.title);
                    $("#player_image").attr( 'src', '/player_image?cache='+data.last_updated );
                    $("#volume_slider").attr('value', data.volume_level );
                    $("#last_updated").html(data.last_updated);
                    if (data.power)
                        $("#power_state").html("ON");
                    else
                        $("#power_state").html("OFF");
                    if (data.state == "playing")
                        $("#btn_play").html("Pause");
                    else
                      $("#btn_play").html("Play");
                    }
              });
          }
        }
      });
  },1000);
</script>
<script>
  $('#volume_slider').change( function() {
    var newValue = this.value;        
    $.getJSON('/command', {
            command: "set_volume",
            target: "player",
            data: newValue,
            format: "json"
        }, function (data) {
            alert(data);
        });
});​
</script>

<script>
  setInterval(function(){ // check for messages
      $.getJSON('/states/messages', function (messages, status) {
        if (status === 'success') {
          $("#messages").html(messages);
          }
      });
  },500);
</script>

{% endblock %}